<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <head name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGETIC</title>
</head>
<body>

    <form>
        
        <p>Injeção diária: <input type="number" name="inj_d" id="inj_d"><span> kWh </span></p>
        <p>Consumo diário: <input type="number" name="cons_d" id="cons_d"><span> kWh </span></p>
        <p>Geração diária: <input type="number" name="ger_d" id="ger_d"><span> kWh </span></p>
        <p>Injeção acumulada: <span id="inj_a_result">0 kWh</span></p>
        <p>Consumo acumulado: <span id="cons_a_result">0 kWh</span></p>
        <p>Geração acumulada: <span id="ger_a_result">0 kWh</span></p>
        <p>Consumo faturado com impostos: </p>

    </form>
    
</body>    
</html>